<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        SGW交通費精算
      </a>
      <ul class="nav">
        <li>
          <%= link_to('Sign out', [ :destroy, :user_session ], :method => :delete, :class => 'signOut') if current_user %>
        </li>
      </ul>
    </div>
  </div>
</div>