<h1>交通費編集</h1>

<%= render 'form' %>

<%= link_to 'Back', month_path %>

<script type="text/javascript">
  var validation = $(".edit_fare")
    .exValidation({
      firstValidate: true,
      rules: {
        fare_day: "chkrequired chknumonly chkmin2",
        fare_visiting_company: "chkrequired",
        fare_visiting_purpose: "chkrequired",
        fare_start_station: "chkrequired",
        fare_arrival_station: "chkrequired",
        fare_fare: "chkrequired chknumonly"
      },
      stepValidation: true,
      errFocus: true
    });
</script>