<h1>SGW経費精算経理用確認画面</h1>
<p><%= link_to 'ログイン', [ :new, :accounting_session ]  %></p>
<p><%= link_to '管理者登録', [ :new, :accounting_registration ]  %></p>
<p><%= link_to 'パスワード再発行', [ :new, :accounting_password ]  %></p>